:root {
    --crsl-bg: linear-gradient(174deg, #0000ff 0%, #7700ff 30%, #c000ff 100%);
    --left_right: linear-gradient(174deg, #0000ff 0%, #7700ff 30%, #c000ff 100%);
    --box-shadow: linear-gradient(174deg, #0000ff 0%, #7700ff 30%, #c000ff 100%);
    --box-border: #8300ff;
}

.carousel {
    position: relative;
    display: block;
    width: 100%;
    z-index: 5;
}

.carousel__prev,
.carousel__next {
    position: absolute;
    bottom: -30px;
    transition: transform 0.25s ease;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #fe5bff;
    border-radius: 100%;
    padding: 8px;
    transition: 250ms;
    cursor: pointer;

    div {
        width: 35px;
        height: 35px;
        background-color: #a142ff;
        transition: 250ms;
        clip-path: polygon(60% 36%, 60% 36%, 60% 10%, 100% 50%, 60% 90%, 60% 62%, 60% 62%);
        transform: translate(-8px, 0)
    }

    &:hover div {
        background-color: #d755ff;
        transform: scale(1.1);
        clip-path: polygon(0 30%, 60% 36%, 50% 7%, 100% 50%, 49% 93%, 60% 62%, 0 70%);
    }

    &:active {
        box-shadow: 0 0 15px 1px #ffffff;
    }

    &:active div {
        transform: translate(4px, 0) scale(1.1);
        background-color: #ffffff;
    }
}

.carousel__prev {
    left: 40%;

    div {
        transform: rotate(180deg) translate(-8px, 0);
    }

    &:hover div {
        transform: rotate(180deg) scale(1.1);
    }

    &:active {
        box-shadow: 0 0 15px 1px #ffffff;
    }

    &:active div {
        transform: rotate(180deg) translate(4px, 0) scale(1.1);
        background-color: #ffffff;
    }
}

.carousel__next {
    right: 40%;
}

.carousel__body {
    width: 100%;
    padding: 200px 0 70px 0;
    overflow-x: hidden;

    .carousel__slider {
        position: relative;
        transition: transform 1s ease-in-out;
        background: var(--crsl-bg);
    }

    .carousel__slider__item {
        position: relative;
        display: block;
        float: left;
        box-sizing: border-box;
        max-width: 400px;
        max-height: 500px;
        margin-left: 20px;
        margin-right: 20px;

        .item__3d-frame {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 1s ease-in-out;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            background: var(--crsl-bg);

            &:after {
                content: '';
                position: absolute;
                bottom: -15%;
                width: 100%;
                height: 40px;
                background: var(--box-shadow);
                box-shadow: 0px 0px 5px 5px var(--box-shadow);
                transform: rotateX(90deg) translate3d(0px, -20px, 0px);
                opacity: 0.85;
            }
        }

        .item__3d-frame__box {
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-color: var(--box-border);
            background: var(--box-bg);
            border-width: 3px;
            border-style: solid;

            .item__3d-frame__box-inner {
                position: absolute;
                bottom: 15%;
                width: 100%;
                color: white;
                font-family: 'Mirza';
                text-align: center;

                img {
                    height: auto;
                    transition: 250ms;
                }

                h2 {
                    width: 100%;
                    color: white;
                }

                p {
                    color: white;
                    margin: 20px 0;
                }

                button {
                    font-family: "Mirza", cursive, sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: capitalize;
                    color: #e6e6e6;
                    padding: 5px 10px;
                    border-radius: 8px;
                    box-shadow: 0px -2px 8px 2px #fefcff85;
                    background-color: #891ad069;
                    transform: translate(2px, 2px);
                    transition: 250ms;
                }
            }

            &:hover {
                cursor: pointer;
            }

            &:hover button {
                box-shadow: 0px 0px 7px -5px #000000a1;
                background-color: #9c00ff69;
                transform: translate(0px, 0px);
                color: white;
            }

            &:hover img {
                transform: scale(1.2);
            }
        }

        .item__3d-frame__box--right {
            top: 0;
            width: 40px;
            backface-visibility: hidden;
            right: 0;
            border-right-width: 5px;
            transform: translate3d(-1px, 0, -40px) rotateY(90deg);
            transform-origin: 100%;
            background: var(--left_right);
        }

        .item__3d-frame__box--left {
            top: 0;
            width: 40px;
            backface-visibility: hidden;
            left: 0;
            border-left-width: 5px;
            transform: translate3d(1px, 0, -40px) rotateY(-90deg);
            transform-origin: 0%;
            background: var(--left_right);
        }
    }
}