html {
  scroll-behavior: smooth;
  font-family: "Mirza", cursive, sans-serif;
}

header {
  width: 100%;
  min-height: 100vh;
  background: #c000ff;
  background: linear-gradient(7deg, #002cff 20%, #7700ff 45%, #c000ff 100%);
  background-repeat: no-repeat;
  padding-bottom: 60px;
  padding-top: 20px;
}

.nav-right-corner {
  position: fixed;
  top: 100px;
  right: -37px;
  display: flex;
  flex-direction: column;
  border-radius: 50px 0 0 50px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.4470588235);
  z-index: 10;
  transition: 350ms;
}
.nav-right-corner .nav-lists {
  margin: 5px 0px;
  padding: 3px 6px;
  transition: 250ms;
}
.nav-right-corner .nav-lists .nav-icons {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}
.nav-right-corner .nav-lists:hover {
  transform: translate(-2px, -2px);
}
.nav-right-corner .nav-right-corner-btn-open {
  position: absolute;
  top: 43%;
  left: -15px;
  width: 15px;
  background-color: rgba(0, 0, 0, 0.4470588235);
  border-radius: 50px 0px 0px 50px;
  opacity: 0.7;
  transition: 250ms;
  display: flex;
  align-items: stretch;
  padding: 15px 0;
  cursor: pointer;
}
.nav-right-corner .nav-right-corner-btn-open .arrow {
  color: #fff;
  font-size: 32px;
  font-family: serif;
}
.nav-right-corner .nav-right-corner-btn-open:hover {
  opacity: 1;
}

.header-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8b0af9;
  box-shadow: -2px -2px 8px 2px rgba(254, 252, 255, 0.5215686275);
  border-radius: 1rem;
  width: 90%;
  padding: 10px 18px;
  margin: 0 auto;
  z-index: 100;
}
.header-nav .logo {
  position: relative;
  transition: transform 300ms;
  width: 65px;
  min-height: 61px;
  cursor: pointer;
}
.header-nav .logo .text {
  position: relative;
  color: white;
  font-size: 25px;
  margin-left: 29px;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  top: 3px;
}
.header-nav .logo .text span {
  position: absolute;
}
.header-nav .logo .text span:nth-child(2) {
  top: 16px;
}
.header-nav .logo:hover {
  transform: scale(1.2);
}
.header-nav .logo .beck,
.header-nav .logo .beck2,
.header-nav .logo .front {
  position: absolute;
  width: 90%;
}
.header-nav .logo .beck {
  left: -13%;
  top: -7%;
  width: 115%;
  height: 115%;
  -webkit-animation: rotate360 10s linear infinite;
          animation: rotate360 10s linear infinite;
}
@-webkit-keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header-nav .logo .beck2 {
  -webkit-animation: rotate3602 15s linear infinite;
          animation: rotate3602 15s linear infinite;
}
@-webkit-keyframes rotate3602 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate3602 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header-nav .nav-items-cont {
  display: flex;
  gap: 20px;
}
.header-nav .nav-items-cont .nav-lists {
  display: flex;
  align-items: center;
  font-family: "Mirza", cursive, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  color: #d7d7d7;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: -2px -2px 8px 2px rgba(254, 252, 255, 0.5215686275);
  background-color: rgba(137, 26, 208, 0.4117647059);
  transform: translate(2px, 2px);
  transition: 250ms;
  cursor: pointer;
}
.header-nav .nav-items-cont .nav-lists:hover {
  box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.631372549);
  transform: translate(0px, 0px);
  background-color: rgba(156, 0, 255, 0.4117647059);
  color: white;
}
.header-nav .nav-items-cont .nav-icon-controll img {
  height: 18px;
}
.header-nav .nav-items-cont-mob {
  position: fixed;
  z-index: 11;
  top: -70vh;
  left: 0;
  width: 100%;
  background-color: #7700ff;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  transition: 350ms;
}
.header-nav .nav-items-cont-mob .logo {
  position: absolute;
  top: 3px;
  left: 20px;
  width: 35px;
  height: 35px;
}
.header-nav .nav-items-cont-mob .logo .text {
  font-size: 15px;
  margin-left: 15px;
  top: 7px;
}
.header-nav .nav-items-cont-mob .logo .text span:nth-child(1) {
  top: 6px;
}
.header-nav .nav-items-cont-mob .nav-lists {
  display: flex;
  font-family: "Mirza", cursive, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  color: #d7d7d7;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: -2px -2px 8px 2px rgba(254, 252, 255, 0.52);
  background-color: rgba(137, 26, 208, 0.4117647059);
  transform: translate(2px, 2px);
  transition: 250ms;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 40%;
  min-width: 110px;
  margin: 6px 0;
  cursor: pointer;
}
.header-nav .nav-items-cont-mob .nav-lists .nav-icons {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header-nav .nav-items-cont-mob .nav-lists:hover {
  box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.631372549);
  transform: translate(0px, 0px);
  background-color: rgba(156, 0, 255, 0.4117647059);
  color: white;
}
.header-nav .nav-items-cont-mob .nav-icon-controll img {
  height: 18px;
}
.header-nav .nav-items-cont-mob-open {
  display: none;
  position: relative;
  width: 25px;
  height: 20px;
  transition: 250ms;
  cursor: pointer;
}
.header-nav .nav-items-cont-mob-open .top,
.header-nav .nav-items-cont-mob-open .center,
.header-nav .nav-items-cont-mob-open .bottom {
  position: absolute;
  transition: 350ms;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.header-nav .nav-items-cont-mob-open .top {
  top: 0;
}
.header-nav .nav-items-cont-mob-open .center {
  top: 40%;
}
.header-nav .nav-items-cont-mob-open .bottom {
  bottom: 0;
}
.header-nav .nav-items-cont-mob-open:hover {
  transform: scale(1.1);
}
.header-nav .nav-items-cont-mob-close {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 25px;
  height: 20px;
  transition: 250ms;
  cursor: pointer;
}
.header-nav .nav-items-cont-mob-close .top,
.header-nav .nav-items-cont-mob-close .center,
.header-nav .nav-items-cont-mob-close .bottom {
  position: absolute;
  transition: 350ms;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.header-nav .nav-items-cont-mob-close .top {
  top: 44%;
  transform: rotate(135deg);
}
.header-nav .nav-items-cont-mob-close .center {
  display: none;
}
.header-nav .nav-items-cont-mob-close .bottom {
  bottom: 44%;
  transform: rotate(-135deg);
}
.header-nav .nav-items-cont-mob-close:hover {
  transform: scale(1.1);
}
.header-nav .nav-icons {
  height: 25px;
  margin-right: 5px;
}
.header-nav .search {
  position: absolute;
  bottom: -25px;
  right: 60px;
  padding: 0 10px 5px;
  background-color: #8b0af9;
  border-radius: 0 0 15px 15px;
  z-index: -1;
}
.header-nav .search:hover .search-icon {
  transform: scale(1.2);
}
.header-nav .search::after, .header-nav .search::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 30px;
  background-color: #8b0af9;
  -webkit-clip-path: polygon(50% 0%, 0 50%, 50% 100%);
          clip-path: polygon(50% 0%, 0 50%, 50% 100%);
}
.header-nav .search::after {
  right: -20px;
  top: 0;
  transform: rotate(45deg);
}
.header-nav .search::before {
  left: -20px;
  top: 0;
  transform: rotate(135deg);
}
.header-nav .search .inp {
  font-family: cursive;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  padding: 0;
  padding-left: 8px;
}
.header-nav .search .custom-placeholder {
  position: absolute;
  top: 0;
  left: 18px;
  color: #fff;
  font-size: large;
}
.header-nav .search .search-icon {
  width: 20px;
  position: relative;
  top: 5px;
  transition: 250ms;
  cursor: pointer;
}

.all-sections {
  width: 100%;
  min-height: 100vh;
  background: #002cff;
  background-repeat: no-repeat;
  margin-top: -1px;
  padding-bottom: 100px;
}
.all-sections .all-sections-inner {
  width: 80%;
  margin: 0 auto;
}
.all-sections .title {
  text-align: center;
  color: white;
  font-size: 40px;
  text-transform: capitalize;
  padding: 40px 0;
  letter-spacing: 4px;
}
.all-sections .price {
  font-family: Noto serif;
  font-weight: 400;
  font-size: 19px;
  position: absolute;
  top: 5%;
  right: -30%;
  padding: 4px 0;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  transform: rotate(38deg);
}

.sect-sale {
  background: linear-gradient(7deg, #091972 20%, #7700ff 45%, #002cff 100%);
}
.sect-sale .price {
  background-color: #ff0000;
}

.sect-men {
  background: linear-gradient(0deg, #ffb5e3 0%, #091972 45%, #091972 100%);
}
.sect-men .box {
  background: linear-gradient(63deg, #0000ff 0%, #00deff 63%, #2196f3 100%);
}
.sect-men .price {
  background-color: #000;
}

.sect-women {
  background: linear-gradient(180deg, #ffb5e3 20%, #ffb5e3 90%, #05afd0 100%);
}
.sect-women .box {
  background: linear-gradient(63deg, #ffffff 0%, #ff00dd 63%, #ffffff 100%);
}
.sect-women .price {
  background-color: #ff00ff;
}

.sect-kids {
  background: linear-gradient(0deg, #05afd0 20%, #05afd0 45%, #05afd0 100%);
}
.sect-kids .box {
  background: linear-gradient(63deg, #ffffff 0%, #05afd0 63%, #ffffff 100%);
}
.sect-kids .price {
  background-color: #000000;
}

.hide {
  display: none;
}

@media screen and (max-width: 725px) {
  .container .box {
    width: 180px;
    height: 290px;
    margin: 15px 10px;
  }
  .all-sections .all-sections-inner {
    width: 98%;
  }
}
@media screen and (max-width: 670px) {
  header {
    padding-top: 5px;
  }
  header .header-nav {
    width: 97%;
    padding: 0 15px;
  }
  header .header-nav .logo {
    width: 35px;
    height: 35px;
  }
  header .header-nav .logo .text {
    font-size: 15px;
    margin-left: 15px;
    top: 7px;
  }
  header .header-nav .logo .text span:nth-child(1) {
    top: 6px;
  }
  header .header-nav .nav-items-cont-mob {
    display: flex;
  }
  header .header-nav .nav-items-cont {
    display: none;
  }
  header .header-nav .nav-items-cont-mob-open {
    display: block;
  }
}
@media screen and (max-width: 440px) {
  .header-nav .search {
    right: 30px;
  }
}
@media screen and (max-width: 400px) {
  .header-nav .search .inp {
    width: 80%;
  }
  .header-nav .search {
    width: 70%;
  }
  .container .box {
    margin: 20px;
    width: 134px;
  }
  .container .box .link {
    padding: 2px 8px;
  }
}/*# sourceMappingURL=style.css.map */